<header style="position: fixed;z-index:1030;">

  <!-- cookies message box code start-->
  <div id="demo" class="collapse show">
      <section class="headeroptio">
          <div>
              To improve your user experience and provide personalized content we use cookies. By continuing to use Glostars, you accept our Use of Cookies, <a style="color: white; text-decoration: underline;" href="/Data/Index">Privacy Policy</a> and <a style="color: white; text-decoration: underline;" href="/Data/Terms">Terms of Use.</a>
              <button style="background-color: #640064" align="right" type="button" class="btn btn-primary collapsed" data-toggle="collapse" data-target="#demo">X</button>
          </div>
      </section>
      <div style="border:1px solid white"></div>
  </div>


  <!-- cookies message box code end-->

  <div class="container-floating">

      <div class="row RNM">
          <div class="col-sm-6 col-md-6 col-lg-7 col-xl-6 LGC">
              <div class="logo"><img src="assets/Content/NewDesign/icons/glostars%20logo%20small%20lv.png" class="logo"></div>


          </div>

          <button class="btn navber-togglers hidden-xl-up LG-button" type="button" data-toggle="collapse" data-target=".navheadercollapse" aria-expanded="false" aria-controls="CollapseNavbar"> Login</button>

          <div class=" col-sm-10 col-md-10 col-lg-9 col-xl-6 col-xl-offset-4 hidden-xs navLogin">
              <nav class="navbar navbar-toggleable-lg navbar-inverse">

                  <div class="navbar-collapse collapse navheadercollapse">
                      <ul class="navbar-nav row navigation">


                        <!-- @Html.Partial("Login2", new LoginViewModel())  starts-->
                        <div>
                          <app-loginbar></app-loginbar>
                        </div>
                        <!-- @Html.Partial("Login2", new LoginViewModel())  ends-->

                      </ul>
                  </div>

              </nav>
          </div>
      </div>
  </div>

</header>
