body {
    padding-top: 78px;
    padding-bottom: 15px;
    overflow-x:hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar {
    background-color:#640064;
    margin-bottom:0px;
}

/*Overwrite the brand properties of bootstrap*/
a.navbar-brand{
    padding:0px;
}

.navbar .navbar-brand img {
   max-height:45px;
}

.padding-right-36 {
    padding-right: 4%;
}

.navbar li{height:100%;}
.login-form{margin-bottom:5px; width:100%;}
.login-form div{padding-left:4px;padding-right:4px;}
.navbar-form.login-form input[type=text]{width: 100%;
margin-bottom:0.5em;
                                  
}
.login-form {
padding-right: 8%;
}
.passcls{
    margin-bottom:0.5em
}
.navbar-login{position:relative}
#body-login{padding-top:0px;}
.value-proposition-container {text-align:left;padding:15px;}
.value-proposition-image, .value-proposition-label{display:inline-block;}
.value-proposition-image img {max-height:30px;}

.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #ffffff!important;
}

@media screen and (max-width:1000px) {
.value-proposition-container {text-align:left;padding-left:40px;}
    .glostars-logo {
        padding-left:10px !important;
    }
.navbar-header {
        float: none;
        padding-right:3% !important;
    }
.language{
        width: 25%;
    }

}

@media screen and (max-width:568px) {
    .login-form div {
        float:inherit;
        min-width:100%;
        padding-left: 23%;        
    }

    #failmsg{
         padding-left: 23%!important;
   }
     label {
        margin-bottom: 0px !important;
    }
    .btn-default {
        margin-left:31%;
        position:absolute; 
        margin-top:65px;
    }
    .language{
        margin-left:37%;
        
    }
   
    input#RememberMe
    {
         margin-left:23%;
    }
    a.custom-navbar-link
    {
        margin-left:23%;
    }
    #togg_up {
         margin-left:40% !important;
          margin-top:-6px !important;
    }
    .navbar-default .navbar-form {
       height:200px;
    }

    .navbar-default .navbar-form {
        /*margin-left:15%;*/
    }
}
@media screen and (max-width:1000px) {
    .login-form {
    padding-right: 18%;
}
     #togg_up {
         margin-left:50% !important;              
    }
}

/*div.value-proposition
{
    min-width:290px;
}*/

/*V-1.3*/
#togg_up {
        
         border: none;
         outline: none;      
    }

.value-proposition
{
    display:inline-flex;
}
.value-proposition-label p
{
    padding-top:5px;
    padding-left:3px;
}
@media screen and (max-width:450px) {
    .login-form div {
        float: inherit;
        min-width: 100%;
        padding-left: 10%;
    }

        #failmsg{
          padding-left: 10%!important;         
    }
    label {
        margin-bottom: 0px !important;
    }
    .btn-default {
        margin-left: 20%;
        position: absolute;
        margin-top: 65px;
    }

    .language{
        margin-left:15%;
        padding: 0px;
        width:40%;
    }

    input#RememberMe {
        margin-left: 10%;
    }

    a.custom-navbar-link {
        margin-left: 10%;
    }

    #togg_up {
        margin-left: 30% !important;
        margin-top: -6px !important;
    }

    .navbar-default .navbar-form {
        height: 200px;
    }

    .navbar-default .navbar-form {
        /*margin-left:15%;*/
    }
}

#togg_up{ display:none;  float:none !important; margin-left: 36%;   padding: 0px 25px; }
#togg_log{ color: rgb(255, 255, 255)!important;}
#togg_log:hover{ color:#CC0066 !important;}
.value-proposition-image img {max-height:20px;}
.btn-top-3{
    min-width: 260px;
    text-align: left;    
}

.btn-pink {
  
    border-color: #fff;
}



@media screen and (min-width:993px) {
    .top-nav-landing {
        padding-left: 5% !important;   
        /*padding-right: 3% !important;*/  
    }
   .right-pic-landing {
    padding-right:15px;
    }
    .value-proposition-label p{font-size:12px;}
    .sign-up-landing {
        padding-top:0px;
        padding-bottom:0px;
    }

    .value-proposition {
        padding-left:3%;
    }
    .btn-top-3{
        min-width: 360px;
        text-align: left;
    }
    .value-proposition-image img {max-height:30px;}
    .form-group {
    padding-top:5px !important; 
    }
    .padding-left-60{
        padding-left:60px;
    }

}

@media screen and (max-width:993px) {
    .top-nav-landing {
        padding-left: 1.2% ;              
    }
        .copyright-footer {
        margin-left: 2% !important;
    }
    .sign-up-landing {
        padding-top:0px;
    }
    .value-proposition-container {
        padding-left:35px;
    }
    .value-proposition-label p{font-size:12px;}
    .left-pic-landing {
        text-align:left !important;
    }
    .right-pic-landing {
        text-align:left !important;
    }
    .center-pic-landing {
        text-align:left !important;
    }
    .width-100 {
        width:100% ;
    }
    .padding-left-15{
        padding-left:15px;
    }
}

@media screen and (max-width:349px) {

 .value-proposition-image img {max-height:16px;}
 .padding-right-bottom-top{ padding-bottom:10px;padding-right:0px; padding-top:10px;}
}

@media screen and (max-width:956px) {

  .padding-right-0{ padding-right:0px;}
}


@media screen and (max-width:1078px) {

  .padding-right-0{ padding-right:0px;}
}


@media screen and (max-width:793px) {

    #Name {
        margin-bottom:15px;
    }
    .navbar-header {
        padding-right:1.5% !important;
    }
    .padding-right-left-30 {
        padding-left:30px;
        padding-right:30px;
     }
   /* .gallery-list    */ 
    .index-picture-li{
        width:32.2% !important;
        overflow:hidden;
    }
}

@media screen and (max-width:493px) {
        .index-picture-li{
        width:32.2% !important;
        overflow:hidden;
    }
}


@media (min-width: 1199px) {
    .right-logo {
        display: block ;
    }

    .left-logo {
        display: none;
    }

    .left-pic-landing {
        text-align:left !important;
    }
    .right-pic-landing {
        text-align:right !important;
    }
    .center-pic-landing {
        text-align:center !important;
    }

}

@media (min-width: 1001px)
{
    #togg_log{
       display:none!important;
    }
    #togg_up{
        display:none!important;
    }
}

@media (max-width: 1000px) {
   
    .right-logo {
        display:none;
    }
    .left-logo {
        display:block;
    }

    .navbar-toggle {
        margin-top:15px !important;
       
    }
    .navbar-collapse {
        padding-right:0px !important;
        padding-left: 60px ;
        border-top:0 !important;
        box-shadow:none !important;
    }
    .navbar-collapse {
         padding-right:20px !important;
    }
    .navbar-default .navbar-form {
        border-color: #A81B62 !important;
    }
    .glostars-logo
    {
        width: 150px;
        height:60px;
        padding-top: 15px;
        padding-left:3px;
    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/*@media screen and (max-width:1036px) {
    .value-proposition-label {
        display: block!important;
    }
}*/

.signup-form input {max-width: 100%;}
.icon:before {
    font-size: 24px;
    color:black;
}

.icon-white:before {
    color:white;
}

.navbar-brand{padding:5px 5px;}

.pic-name-container{}

.thumb-mini-container{
	width: 30px;
    height: 30px;
    margin-right:10px;
    overflow:hidden;
    display:inline-block;
    position: relative;
}

.navbar .name-container{
    vertical-align:top;
    display:inline-block;
}

.thumb-mini-container img{
    max-height:40px;
    max-width:40px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

img.thumb-mini{
    max-height:30px;
    max-width:30px;
}
.rounded{
    border-radius: 25px;
}
.custom-navbar-link{
    color:white;
    font-weight: bold;
}

img.profile{
	max-width: 100px;
    padding-top:5px;padding-bottom: 5px;
}

.nav-tabs li {
    width:50%;
    text-align: center;
    background: #F0F0F0;
    font-size: 16px;
}

.nav-tabs li.active a, 
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    background-color: #BDD7EE;
}

.nav-tabs>li>a:hover {
  border-color: #A0A0A0;
}

.upload-btn{ 
    background: #70AD47;
    color: white;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left:20px;
    padding-right: 20px;
}

.signup-btn{ 
    background: #32CD32;
    color: white;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left:20px;
    padding-right: 20px;
}

.send-btn{ 
    background: #32CD32;
    color: white;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left:20px;
    padding-right: 20px;
}

.back-btn{ 
    background: #BCB7B9;
    color: black;
    padding-top:3px;
    padding-bottom: 3px;
    padding-left:20px;
    padding-right: 20px;
}

div.padded{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:10px;
}

.edit-button{
    width: 100px;
}
.profile-friend-options{text-align: right;}
.profile-friend-drowpdown {display:inline-block;position: absolute;right:0;}
.row{width:100%;}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-bottom:15px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.ocupation-other{display:none;}
#settingsForm input, textarea{max-width:100%;}

ul.gallery-list {
    padding: 0;
    list-style-type: none;
}
.gallery-list li {
    width: 15%;
    display: inline-block;
    margin-top: 2px;
    margin-bottom:1px;

    vertical-align:top;
    height:80px;
}

@media screen and (min-width:768px) {
    #modal-gallery .modal-dialog  {max-width:1000px;max-height: 600px; padding-left:0px;padding-right: 0px}
    #modal-gallery .modal-body {margin-left:0px;padding: 0px 0px 50%;}

}

@media screen and (min-width:768px) and (max-width:1000px) {
    .navbar-fixed-top, .navbar-collapse
    {
        padding-left:40px!important;
    }
}
.owner-info{margin-top:10px;text-align:left;}
.owner-info>p{margin-top:10px;font-size:medium;}
.owner-info{width:100%;min-height: 80px; max-height:120px;}
    .owner-info > img {
        max-height:100%;
        max-width:100%;
    }
.owner-info div.row{width:100%;}
.owner-info div{float:left;display:inline-block;text-align:left;padding:5px;}
p{text-align: left; font-size: 12px;word-break:break-word;}
.owner-info p.pic-time{color:#A8A8A8;}
.owner-info .picture-container{max-width:30%;top:0;}
.owner-info .info-container{max-width:70%;}
.owner-info .picture-container img{max-width:100%;}
.share-dropdown{
    padding-top:2px;
    padding-bottom:2px;
}
.options-container{width:100%;}
.rating-container{text-align:left;}
.gallery-body{display:table; width:100%;}

/*.gallery-body .gallery-picture, .gallery-side-panel{display:table-cell;float:none;}
.gallery-side-panel .gallery-ad-container{position: absolute;top:50%;width: 90%}*/
.gallery-side-panel .row{margin-left:0px;margin-right:0px;}
.row-table{display:table;}
.row-table .row-cell{display:table-cell; float:none;vertical-align: top;}

.gallery-item{height:100%;background-position:center; background-repeat:no-repeat;}

img.sponsor{
    max-height: 40px;
    max-width:145px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top:12px;
}

.gallery-list .index-picture-li{
    width:29.7%;
    overflow:hidden;
}
.gallery-list .index-picture-li img{
    max-width:100%;
}
.form-control.tt-input,
.form-control.tt-hint {
    width: 300px;
	height: 30px;
	padding: 5px 12px;
	font-size: 12px;
	line-height: 30px;
	border: 2px solid #CCC;
	border-radius: 8px;
	outline: medium none;
}

.tt-input { 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 300px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 24px;
}
.tt-suggestion a{
    color: black;
}
.tt-suggestion a:hover {
    color: #808080  ;
    text-decoration: none;
} 

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

div.notifications, div.requests{
    width: 450px;
}

ul.notification{
    list-style:none;
    padding-left:5px;
}
div.notification-container{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    max-width:450px;
    height:85px;
}

div.notification-container:hover, div.request-container:hover{
   background-color:#E0E0E0 ;
}

div.request-container div.info{
    display: inline-block;
    width:100%;
}
div.notification-container div{
    display:inline-block;
    float:left;
}

div.request-label {
    float:left;
    display:inline-block;
    width:80%;
}

div.request-thumb {
    float:left;
    display:inline-block;
    width:20%;
    padding:1px;
}
div.request-thumb img{
    max-width:100%;
    max-height:100%;
}

div.notification-label {
    width:60%;
    max-height: 50px;
}
div.notification-label p{
    margin-bottom: 2px;
}
div.notification-thumb {
    width:20%;
    height:100%;
    padding:1px;
    text-align: center;
}

div.notification-container div.border{
    border-width: 1px;
    border-style: solid;
    border-color: #E8E8E8;
    width: 100%;
    height:100%;
}

img.thumb-mid{
    max-width:60px;
}


.counter{
    float:right;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background: #BDD7EE;
    margin-top: -35px;
    z-index: 1000;
    position: relative;
}

.counter p{
    font-size: 12px;
    position: relative;
    margin-top:-3px;
    text-align:center;
    color: #CC0066;
    font-weight: bold;
}

div.unchecked{
    background-color:#F0F0F0;
}
.friend-dropdown button{
    padding:2px 6px;
    font-size:12px;
}

.modal-info{max-height: 60%}
.friends-tab-container{display: table; width:100%;padding:5px; height:90px;}
.friends-tab-container .friends-tab-options,.friends-tab-link{display: table-cell;}
.profile-friend-options{text-align: right;}
.profile-friend-drowpdown {display:inline-block;position: absolute;right:0;}
div.gallery{
    padding: 5px;
    display: inline-block;
    width:100%  ;
    height:100%;
}

div.gallery div{
    padding:2px;
}

div.gallery img{
    max-width: 100%;
    max-height: 100%;
}

.see-more-btn{
    padding-top:0px;
    padding-bottom:0px;
    font-size: 12px;
    background-color: #E8E8E8;
    color: #808080 ;    
}

.gallery-menu{
    background:#BDD7EE;
}

.gallery-menu ul{
    padding-left:5px;
}
.gallery-menu li{
    list-style-type: none;
    padding: 5px 5px;
}

.gallery-menu a{
    color: #505050;
} 

.gallery-menu a:hover {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
} 

.prize-sponsor{
    max-width: 80px;
    max-height: 60px;
    padding-left:10px;
}

ul.prizes{
    padding-top:5px;
}

ul.prizes li{
    padding-top:5px;
}

div.prize-category{
    padding:10px;
}

hr.feedhr{
    border-color: #E0E0E0  ;
    margin-top:10px;
    margin-bottom:10px;
}

img.thumb-mid{
    max-width:60px;
}
div.picture-info p{
    margin-top:5px;
    margin-left:0px;
    padding-left:16px;
    padding-right:20px;
}
p.activity-time{
    color:#A8A8A8;
}

.no-padding{
    padding-right:0px;
    padding-left:0px;
    margin-top: 60px;
}

.no-margin{
    margin-right:0px;
    margin-left:0px;
}

.blue{
    background-color:#BDD7EE;
    min-height:100%;
}

.nav > li > a:hover{
    background-color: #FED0E7!important;
}

.nav> li> a{
    height:65px;
    border-radius:1px;
}

.nav-tabs > li > a:hover{
    background-color: #EEEEEE!important;
}

.nav-tabs> li> a{
    height:45px;
}

.nav > li > a:focus {
        background-color: #CC0066;
}


a.gallery-link>div{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width:thin;
    border-color: #E0E0E0;
}

/*Landing page pictures*/
.gallery-list > li {
    height:100px;
}

.landing-gallery{margin-top:10px;}

/*Styles for the gallery from the landing page, override some properties of the bootstrap style*/
.modal-layout>.row, .container>.row{margin-left:0px;margin-right:0px;}
.modal-layout .modal-body img{padding:5px;}

.slider-list-item>div{height:100%;}
.flexslider>ul>li{width:auto;height:auto;}
.flexslider>ul>li>a>div{height:80px;width:120px;}


.squared-profile-thumb{width:80px;height:80px;background-position:center; background-repeat:no-repeat;background-size:contain;}
.friends-tab-container table{width:100%;}
.friends-tab-container td{width:33%;}
#termsModal .modal-body{
    max-height:500px;
    overflow-y:scroll;
}
#termsModal .modal-dialog{width:70%;}
#termsModal p {
    word-break:break-word;
}
.affix{
    top:80px;
    max-width:150px;
}

.ad-container > div {
    margin-bottom:10px;
}

.ad-container {
    max-width:150px;
}

.ad-container img{
    max-width:100%;
}

.custom-affix{
    padding-top:60px;
}
.copyright-footer{
    font-size:10px;
    /*margin-top:10px;*/
    margin-bottom:10px;
    margin-left:5%;
}
.white-iconbar{
    background-color:white;
    
    }
.btn-friend-req-small {
    font-size:12px;
    padding:2px 12px;
}

.signup-new-user{
    font-size : 20px;
    padding-left: 0px;
    padding-top:60px;
    word-break:break-word;
}
.gallery-panel-text{
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 20px;
    background-color: #C06;
    text-align: left;
}
.p{
    word-break: break-word;
}
/*So it does not overlap with the navbar*/
.ui-datepicker{
    margin-top:80px;
}

.value-proposition-row {
        padding-top:15px;
        padding-bottom:15px;
    }

.aboutusback{
    font-size:10px;
    text-align:center;   
}

.faqback{
    font-size:10px;
    text-align:center;
    padding-bottom:20px;
}

.full-size-picture{
    max-height:100%;
    max-width:100%;
    margin-right:auto;
    margin-left:auto;
}

/*To make Placeholder Italic*/

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}


#aboutmenu a{
    color:black;
    text-decoration:none;
}
#aboutmenu a:hover{
    font-weight:bolder;
}

a.menulink.active{
    background-color:aqua;
}

.form-control{
    font-size:12px;
}

.winningPic li{
    list-style-type: none;
}

.winningPic a{
    text-decoration: none;
    color:black;
}

.winningPic p{
    font-size:14px;
}

@media screen and (min-width:1293px) {
    .winpic img{
    width: 400px;
    height: 270px;    
    }
    .winpicvertical img{
        width: 200px;
        height: 270px;
    }

    .winpicvertical{
        margin-right:175px;
    }
    .mediaimg img{
        width: 300px;
    }
    .mediaeditedimg img{
        width:205px; 
        margin-left:10px;
    }
}

@media screen and (min-width:1727px) {
    .winpic img{
    width: 500px;
    height: 370px;    
    }

    .winpicvertical img{
        width: 280px;
        height: 370px;
    }
    .winpicvertical{
        margin-right:257px;
    }
}

@media screen and (min-width:991px) and (max-width:1291px){
    .winpic img{
    width: 300px;
    height: 200px;    
    }
    .winpicvertical img{
        width: 100%;
    }

     .winpicvertical{
        margin-right:160px;
    }
     .newstext p{
   margin-left: 80px;    
    } 

     .mediaimg img{
        width: 250px;
    }

     .mediaeditedimg img{
        width:170px; 
        margin-left:5px;
    }
}


@media screen and (min-width:1291px) and (max-width:1380px){
    .newstext p{
   margin-left: 30px;    
    }    
}

.newstext a{
    color:black;
    text-decoration:none;
}

@media screen and (max-width:990px) and (min-width:200px) {
    .winpic img{
    width: 100%;
        
    }
    .winpicvertical img{
        width: 100%;
    }

     .mediaimg img{
        padding-bottom: 20px;      
    }

     .mediaeditedimg img{
        padding-bottom: 20px; 
    }
}

@media screen and (max-width:480px) and (min-width:200px) {
   .mediaimg img{        
        width:100%;
    }
   .mediaeditedimg img{
        width:100%;
    }
}


.winpic label{
    padding-top: 10px;
    padding-bottom:20px;
}

.winpicvertical label{
    padding-top: 10px;
    padding-bottom:20px;
}

.media a{
    text-decoration: none;
    color:black;
}

.lang{
    border: 0;
    background: none;
    box-shadow:none;
    border-radius: 0px;

    /*background:transparent;
    border:transparent;*/
}

.selectedlang{
    color:white;
}

.langlist{
    color: black;
}

.wintermlist a p{
    font-size:12px;
    color:gray;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.45),
    1px -1px 0 rgba(0, 0, 0, 0.45),
    -1px 1px 0 rgba(0, 0, 0, 0.45),
    1px 1px 0 rgba(0, 0, 0, 0.45);  
}

 a:hover .LPRecentPictures{
    background-color: #aaa;
}

 sub {
    bottom: -.9em;
}

sub, sup {
    font-size: 100%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    color: whitesmoke;
}