
/*.modal-content {
    width: 100%;
    height: 100%;
}*/

/*.modal-dialog {
    width: 80%;
}*/




.shrink{
    padding: 5px;
}

.form-control {
    border-radius: 0px;
}
.edit-option-design{

    /*border:1px solid #E0E0E0;
    border-radius:3px;*/
    padding:1px;
    padding-left: 0px; 
    /*background-color: #FAFAFA;*/
    color: #607D8B;
    transition: 1s;
    font-size:11px;
}
.edit-option-design:hover{

    color: #40C4FF;
    /*border-radius: 7px;*/
   text-decoration: none;
}
.del-option-design{

    /*border:1px solid #E0E0E0;
    border-radius:3px;*/
    padding:1px; 
    /*background-color: #FAFAFA;*/
    color: #607D8B;
    transition: 1s;
    font-size:11px;
}
.del-option-design:hover{

    color: #E91E63;
    /*border-radius: 5px;*/
   text-decoration: none;
}

.time-option-design{
    /*border:1px solid #E0E0E0;*/
    /*border-radius:3px;*/
    padding:1px; 
    /*background-color: #FAFAFA;*/
    color: #607D8B;
    transition: 1s;
    font-size:11px;
}

.time-option-design:hover{

    color: #607D8B;
   text-decoration: none;
}

.emo-box{

     border: 1px solid #E0E0E0;
     border-radius: 3px; 
     background-color: #FAFAFA;
     margin-top: 5px;
     padding: 5px;
}
.frndTag-design {

    padding-top: 5px;
}
.form-control:focus {
    border-color: #F3E5F5;
    box-shadow: inset 0 0px 1px #F3E5F5, 0 0 1px #F3E5F5;
}

.edit-box {
    border-color: #F3E5F5;
    box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.edit-box:focus {

    color: #6D4C41;
    border-color: #E1BEE7;
    box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#cmntOverflow{

}

#cmntList{
    overflow: auto;      /* show scrollbar when... */
    max-height: 250px;
}


@media screen and (min-width: 960px) {
    .col-xs-6#img-content {
        width: 60%;

    }
    .modal-dialog{
        width: 90%;
    }

}
@media screen and (max-width: 959px) {
    .col-xs-6#img-content {
        width: auto;

    }
    .modal-dialog{
        width: 600px;
    }

}

@media screen and (max-width:415px) and (max-width: 375px) {
    .comment {
        width: 62%;
    }
    .comment-box{
        width:88%;
    }
}

@media screen and (max-width:1199px) and (min-width:991px) {
  .comment-box{
        width:90%;
    }
}

@media screen and (max-width:597px){
  .user-info{
       padding-top:15px;
    }
}

#modal-dialog-upload
{
    width:100%!important;
   top: 0!important;
    bottom: 0!important;
    left: 0!important;
    right: 0!important;
    }
.HorizetalShow
{
    margin:auto!important;
    display:block;
    float:left;
    margin-left:5px!important;
    margin-bottom:5px!important;
    text-align:center!important;
    vertical-align:top!important;
    }

.thumb
{
    height:100px;
}
.full_close
{
    position:absolute;
    color:gray;
    font-weight:bold;
}

.FrndPicSelection
{
    display:inline;
    font-weight:bold;
}
.FrndPicSelectionInv{
    display:none;
}


.PubPicSelection
{
    display:inline;
     font-weight:bold;
}
.PubPicSelectionInv{
    display:none;
}

.CompPicSelection
{
    display:inline;
     font-weight:bold;
}
.CompPicSelectionInv{
    display:none;
}

.friends
{
    display:inline;
}
.friendsInv
{
    display:none;
}

.togglebutton {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #CC0066;
    float: right;
    -moz-transition: -moz-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
   }
.toggle {
    -moz-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}




.public
{
    display:inline;
}
.publicInv
{
    display:none;
}

.togglebuttonPub {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #CC0066;
    float: right;
    -moz-transition: -moz-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
   }
.togglePub {
    -moz-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


.competition
{
    display:inline;
}
.competitionInv
{
    display:none;
}

.togglebuttonComp {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #CC0066;
    float: right;
    -moz-transition: -moz-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
   }
.toggleComp {
    -moz-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.ToggleTextCls
{
    font-size:9px;
    float:right;
}

.InputDescription{
    width:98%;
    border-radius: 6px; 
-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#divFrndPics
{
    min-height:30px;
}

 #divPubPics{
    min-height:30px;
}

 #divCompPics{
    min-height:30px;
}

.uploadbuttonoptions {
    height: 70px !important;
    vertical-align: middle !important;
    display: table-cell !important;
}

.OptionButtonDisplay {
    display: inline;
}

.AlignContentSinlge
{
    text-align:center!important;
}
#SelectedDiv{
    display:none;
}
.SelectedImageArea
{
    width: 400px;
    height :26px;
    resize:none;
    margin-bottom: 10px;
}

#upload-modal
{
    overflow-y:auto!important;
}

.mobilecomments div{
    border:none!important;
}

@media screen and (max-width:400px) {
    .OptionButtonDisplay {
        display: block;
    }
    .uploadbuttonoptions {
        height: 35px !important;
        width:250px!important;
    }
    #modal-dialog-upload
    {
        max-width:80%!important;
    }
}
@media screen and (max-width:600px) {
    
    #modalcontentsingle {
            width:94%!important;
    }

    #modalcontentpicture{
        width:95% !important;
    }
}


@media screen and (max-width:1219px) and (min-width:783px) {
    
    #modalcontentpicture{
        width:80% !important;
    }
}

@media screen and (max-width:782px) and (min-width:601px) {
    
    #modalcontentpicture{
        width:70% !important;
    }
}

@media screen and (max-width:400px) {
    
    #modaldialoguploadmobile {
            width:94%!important;
    }
}




/***************Unfollow Modal******************/


.alerttile
{
    font-size: 20px;
    color: #525151;
    font-weight: bold;
    margin-top: 20px;
}

.buttoncontainer
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.modalunfollow
{
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 70px;
    color: #040303;
}

.modalcancel
{
    padding-left: 40px;
    padding-right: 40px;
}

.modalalertbody
{
    background-color: #f3f3f3;
}

/***********************************************/