@charset "UTF-8";

@font-face {
  font-family: "glostars-icon";
  src:url("fonts/glostars-icon.eot");
  src:url("fonts/glostars-icon.eot?#iefix") format("embedded-opentype"),
    url("/fonts/glostars-icon.woff") format("woff"),
    url("/fonts/glostars-icon.ttf") format("truetype"),
    url("/fonts/glostars-icon.svg#glostars-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "glostars-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "glostars-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*.icon-icon-custom-notification:before {
  content: "b";
}
.icon-icon-custom-request:before {
  content: "c";
}
.icon-icon-custom-home:before {
  content: "a";
}
.icon-social-facebook:before {
  content: "d";
}
.icon-social-vk:before {
  content: "e";
}
.icon-social-twitter:before {
  content: "f";
}*/

#loader-icon {
          position: absolute;
          display: none;
          margin-bottom: 20px;
          margin-left: 30%;
      }

      /*.loader{
     position:fixed;
     top:0;
     left:0;
    height:50%;

     background:url('/Content/LoaderIcon.gif') no-repeat 50%
     }*/

      #back-top {
          position: absolute;
          margin-bottom: 20px;
          margin-left: 30%;
          display: none;
      }

          #back-top a {
              width: 108px;
              color: white;
              display: block;
              text-align: center;
              font: 11px/100% Arial, Helvetica, sans-serif;
              text-transform: uppercase;
              text-decoration: none;
              /* transition */
              -webkit-transition: 1s;
              -moz-transition: 1s;
              transition: 1s;
          }

              #back-top a:hover {
                  color: white;
              }
.gototop-btn{ 
    background: #CC0066;    
    padding-top:3px;
    padding-bottom: 3px;
    padding-left:20px;
    padding-right: 20px;
}
         