<div class="container">
  <div class=" Ppart">
      <section>
          <div class="item-1">
              <img src="~/Content/profilePage/landingpagephoto/first.png" class="Pimage1" />
              <p class="P2">
                  <b style="font-size:17px;">Tired of uploading photos and not getting anything in return?</b>
                  <br />
                  <span style="font-size: 15px;">
                      Sign up, upload your favourite photos and take a shot in our constantly running photo competition. Prizes are
                      given away weekly, monthly and at the end of four-month period there is a final with prizes for top 5 rated
                      photos. We don’t have any judges, photos are rated by the user community itself.
                  </span>
                  <br>

              </p>

          </div>
      </section>
      <hr>
      <section>
          <div class="item-2">
              <img src="~/Content/profilePage/landingpagephoto/secound.png" class="Pimage" />
              <p class="ptext">
                  <b style="font-size: 17px;">Are you looking for a way to get yourself known?</b>
                  <br />
                  <span style="font-size: 15px;">
                      At the end of the four-month period International Photo Exhbition is organized with 50 top rated photos from
                      all over the world. Mobile camera is enough to succeed, all you need is a moment to capture and a little
                      bit of creativity.
                  </span>
                  <br>

              </p>

          </div>
      </section>
      <hr>
      <section>
          <div class="item-3">
              <img src="~/Content/profilePage/landingpagephoto/third.png" class="Pimage1" />
              <p class="P2">
                  <b style="font-size: 17px;">Do you want to explore new places and connect with new people?</b>
                  <br />
                  <span style="font-size: 15px;">
                      Join our growing international community, we have users from all over the world. Enjoy the views captured
                      by people with different backgrounds and skill levels. Everybody is welcome!
                  </span>
                  <br>

              </p>
          </div>
      </section>

  </div>
</div>


<br>
