<div class=" nav-item">
  <div class="form-group email">
      <input class="form-control form-size" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" placeholder="Email" type="text" value="">
      <div class="login-bottom-text radio hidden-sm" style="margin-left: 10px;">
          <label class="remember">
              <input data-val="true" data-val-required="The Remember me field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true" class="checkbox-circle"><input name="RememberMe" type="hidden" value="false">
              Remember Me
          </label>
      </div>
  </div>
</div>

<div class="nav-item">
    <div class="form-group remember pass">
        <input class="form-control form-size" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" placeholder="Password" type="password">
        <div class="login-bottom-text hidden-sm" style="margin-left: 10px;"><a href="/Account/ForgotPassword" class="ForgotPassword" style="color: white;">Forgot password?</a></div>
    </div>
</div>

<div class="nav-item logB">
    <div class="form-group" style="margin-left: 10px;">
        <input type="submit" value="Log in" class="btn btn-default btn-header-login login-button">
    </div>
</div>

<p class="nav-item or" style="margin-left: 10px;">or</p>

<div class="nav-item1">
    <div class="facebook" style="margin-left: 10px;">
        <a href="/Authorize/Facebook"><img src="~/Content/NewDesign/LPIcons/FB%20log%20in.png" class="FB-login"></a>
    </div>
</div>
