<div>
  <app-navbarbeforelogin></app-navbarbeforelogin>
</div>

    <!-- @RenderBody() starts -->

<div class="signupPortion" style="padding-top: 80px;">
    <h1 style="text-shadow: 0 0 10px #640064">Cradle of creativity!</h1>
    <h3 style="text-shadow: 0 0 10px #640064">Win awards and spots in photo exhibitions</h3>
    <button type="button" class="btn login-button Signup" data-toggle="modal" data-target="#ModelName" aria-hidden="true">
        Sign up
    </button>
</div>

<!--@Html.Partial("signup2") starts  -->
<div>
  <app-signup></app-signup>
</div>
<!--@Html.Partial("signup2") ends  -->

<!-- reading content starts-->
<div>
  <app-readingcontent></app-readingcontent>
</div>
<!-- reading content ends-->

<!-- footer section starts -->
<div>
  <app-footersection></app-footersection>
</div>
<!-- footer section ends -->

    <!-- @RenderBody() ends -->

